<div class="row">
  <div class="col-sm-8">
    <p><b>Courses</b></p>
    <p>- Robot Programming (Java) 16/42 38%</p>
    <p>- CAD 14/15 93%</p>
    <p>- Manufacturing 16/42 38%</p>
    <p>- Scouting 6/6 100%</p>
    <p>- Public Relations 2/10 20%</p>
    <p>... etc.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>- <a href="javascript:void(0);" onclick="spoof1Page()">Programming by Brandon 3/3 100%</a></p>
    <p><i>*This is a static course list. Personalized user content will come in v.0.0.0...2 alpha*</i></p>
  </div>
  <div class="col-sm-4">
    <b>Welcome, fellow bird.</b><br><br>
    <button type="button" onclick="logoutUser()">Logout</button><br><br>
    <button type="button" onclick="changeEmailPage()">Change Email</button><br><br>
    <button type="button" onclick="changePasswordPage()">Change Password</button><br><br>
    <button type="button" onclick="deleteUserPage()">Delete Account</button><br><br>
  </div>
</div>
