<h3>Create lesson</h3>
<form name="form">
    <div class="form-group">
        <label for="title">Branch</label>
        <input type="text" class="form-control" id="branch" placeholder="branch">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="gdriveid">Google drive id</label>
        <input type="text" class="form-control" id="gdriveid" placeholder="Id">
    </div>
    <button type="button" class="btn btn-primary" onclick="addLesson()">Add Lesson</button>
    <h6 id="createLessonKey"></h6>
</form>
