<div id="homepage">
<div class="row">
  <div class="col-sm-8">
    <p>Q: Is this a baseball team?</p>
    <p>A: No. This is the Beginner Intermediate Role Development System, developed by FRC Team 4159 from San Francisco, CA.</p>
    <p>Q: Any other crazy acronyms?</p>
    <p>A: Some 'wing' or 'nest' shiz but I forgot them all.</p>
    <p>Q: What about memes?</p>
    <p>A: Oh yes. Plenty of them ;)</p>
  </div>
  <div class="col-sm-4">
    <p><b>Login</b></p>
    Email:<br><input type="email" id="loginEmail"/><br>
    Password:<br><input id="loginPassword" type="password"/><br><br>
    <button id="loginButton" type="submit" onclick="loginUser()">Login</button><br><br>
    <div id="loginInfo" style="color:red"></div><br>
    <p>Forgot your password? <a href="javascript:void(0);" onclick="forgotPasswordPage()">Reset it!</a></p>
    <p>Not a user? <a href="javascript:void(0);" onclick="registerPage()">Register here!</a></p>
  </div>
</div>
</div>
