<div class="row">
    <div class="col-md-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7iw7kY3klRY" frameborder="0" allowfullscreen></iframe>
        <br />
        <br />
        <p>
            Beginning and Intermediate Role Development System is an online platform by FIRST Robotics Team 4159 CardinalBotics to assist motivatated members achieve higher success.
        </p>
    </div>
    <div class="col-md-4" id="sidebar">
        <h3>Login</h3>
        <form name="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary" onclick="loginUser()">Login</button>
        </form>
        <br />
        <div id="loginError" style="color:red"></div>
        <br />
        <p><a href="javascript:void(0);">Forgot Your Password?</a></p>
        <p><a href="javascript:void(0);" onclick="loadView('views/register.html','sidebar')">Register Here</a></p>
    </div>
</div>
