<div>
    <h2 id="lesson-title">Title</h2>
    <h5 id="lesson-progress"></h5>
</div>
<div class="row">
    <div class="col-md-10" id="lesson">
        <iframe id="google-doc-iframe" srcdoc="" style="height: 1050px; margin: 0 auto;" align="middle" frameborder="0" width="100%" scrolling="no"></iframe>
    </div>
    <div class="col-md-2" id="sidebar">
        <button type="button" class="btn btn-secondary btn-sm" onclick="setLessonState('complete')">Mark as complete</button><br><br>
        <button type="button" class="btn btn-secondary btn-sm" onclick="setLessonState('inprogress')">Mark as in progress</button><br><br>
        <button type="button" class="btn btn-secondary btn-sm" onclick="setLessonState('incomplete')">Mark as incomplete</button><br><br>
    </div>
</div>
