<h3>Register</h3>
<form name="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="registerEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="registerPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password (again)</label>
        <input type="password" class="form-control" id="registerPassword2" placeholder="Password (again)">
    </div>
    <button type="button" class="btn btn-primary" onclick="registerUser()">Register</button>
    <br />
    <br />
    <div id="registerError" style="color:red"></div>
    <br />
    <p><a onclick="loadView('views/login.html','sidebar')">Login Here</a></p>
</form>
