<h3>Programming with Brandon Part 3</h3><br>
<p>Programming is an art and a science. This includes copy and pasting from
Stack Overflow.</p>
<p>It's time for your first, last, and only project of this programming course.</p>
<p>Finish up by creating a <b>middle-out compression algorithm with a user-friendly data storage platform. Thinking inside the box is not allowed.</b></p>
<p>Once you're finished, please show a programming guy in the team and voila! Pat
  yourself on the back for completing <i>Programming with Brandon.</i></p>
<a href="javascript:void(0);" onclick="spoof2Page()"><-- Back</a><br>
<a href="/" onclick="loadPage()">Back to all courses</a>
