<h3>Programming with Brandon Part 2</h3>
<br>
<p>Let's start with the basics. Learning all the programming languages you can won't make you a better programmer. 90% of all programming languages are pretty much the same logically. The only thing that distinguishes programming languages are their usages
    and syntax.</p>
<p>Soo... let's say that you know the logic. If you haven't yet, learn variables, constants, arrays, strings, expressions, statements, functions, program flow, pointers, objects, inheritance, polymorphism... yea whatever etc. Great! Now let's learn what's
    different from all programming languages: their syntax.</p>
<p>The preferred way of learning code you don't know is by consulting Stack Overflow. As said by Tariz Ali, 'Stack Overflow is an essential tool for the modern programmer. Learn how to utilize the latest in "crowd sourcing" technologies to help meet management
    deadlines.' Amazing, huh?</p>
<br>
<img src="http://i.imgur.com/SZPjHwz.jpg" alt="Copying and Pasting With Stack Overflow" style="width:50%;height:50%;">
<br>
<p>Please read over this book. I'm not going to summarize it to minimize the data of this website. Once you're finished, head over to the third and final part.</p>
<a href="javascript:void(0);" onclick="spoof1Page()">
    <-- Back</a> <a href="javascript:void(0);" onclick="spoof3Page()">Next --></a>
        <br>
        <a href="/" onclick="loadPage()">Back to all courses</a>
        <br>
        <br>
        <br>
        <br>
        <br>
