@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~sass-material-colors';

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.main {
    width: 70%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

// No link formatting
a:link {
    text-decoration: none;
    color: #525564;
}

a:visited {
    text-decoration: none;
    color: #525564;
}

a:hover {
    text-decoration: underline;
    color: #96C0CE;
}

a:active {
    text-decoration: underline;
    color: #74828F;
}
