<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <center>
    <h1>Cardinal Beginner Intermediate Role Development System</h1>
    <h4>"BIRDS give you WINGS"</h4>
    <p><i>~~Currently in development~~</i></p>
    <br>
  </center>
  <div class="row">
  <div class="col-md-8">
    <ul>
      <li>BIRDS stands for Beginner Intermediate Readiness Development System</li>
      <li>WINGS stands for Willingness to Implement Newly Gained Skills</li>
      <li>NEST stands for something something something tips</li>
      <li>EGGS stands for something growth goals something</li>
      <li>CHIRP...???</li>
    </ul>
  </div>
  <div class="col-md-4">
    <form name="login">
      Username: <input type="text" name="username"> <br><br>
      Password: <input type="password" name="password"> <br><br>
      <input type="submit" onclick="login()" value="Log In">
    </form>
    <br>
    <p>Not a BIRD? <a href="#">Register here!</a></p>
  </div>
  <div id="footer">
    <center>Made by FIRST Robotics Competition Team 4159 CardinalBotics</center>
  </div>
</div>
</body>
</html>
